/* Cascating Stylesheet */

/* Cascating Stylesheet */

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
}

body {
  display: grid;
  place-items: center;
  background: rgb(37, 37, 37);
}

main {
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 812px;
  width: 100vw;
  height: 100vh;
}

.container {
  /* max-width: 250px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: -6rem;
  text-align: center;
  color: var(--grey);
}

.avatar {
  /* width: 10rem; */
  margin: 35vh auto 0;
  position: relative;
  /* transforma essa div em referencia de espaçamento,etc.. para as divs dentro dela */
}
.avatar span {
  position: absolute;
  /* cria uma ordem de camdas, uma indo por cima ou por baixo da outra */
  top: -15px;
  z-index: 1;
  /* gera o ordenamento de camadas no eixo z(profundidade) */
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  /* usa a foto na proporção original sobre o tamanho */

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  /* gera uma clipagem semelhante com a função do photoshop */
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  /* define o tipo de lista (numérica,alfabetica, etc)  */
  padding: 0;
  display: flex;

  gap: 0.5rem;
  justify-content: center;
  /* o display tipo flex permite configurações como o "gap" e "justify-content" */
}

#dowhileLogo {
  margin-top: 2rem;
  align-self: left;
  width: 15rem;
}

@media screen and (max-width: 375px) {
  main {
    background: url(images/background.svg) no-repeat center/cover;
    max-height: 812px;
  }

  .container {
    height: 65vh;
    width: 80vw;
  }

  .avatar {
    margin-top: 97.2%;
    position: relative;
  }

  .avatar span img {
    position: absolute;
    height: 7vh;
  }

  /* esse modelo escolhe a primeira imagem dentro de .avatar */
  .avatar > img {
    clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    /* gera uma clipagem semelhante com a função do photoshop */

    height: 45vw;
    width: auto;
  }

  #UserProfile {
    /* width: 30vw;
    height: 30vh; */
  }
}
